@{
    Layout = "_CustomLayout";
}
<title>Giggle Garments-FAQ's</title>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="fw-medium fs-3">FAQ's</p>
            <div class="mt-4">
                <h3 class="py-3">Do I need to set up an account to place an order?</h3>
                <p>
                    Creating an account on Giggle Garments is not mandatory. You can use a guest account to checkout without registering.
                    However, a Giggle Garments account gives you access to the following benefits:
                </p>
                <ul class="ms-4">
                    <li>Manage your account details, track your order status and review past purchases</li>
                    <li>Save your shipping details for future purchases and a faster shopping experience</li>
                    <li>Be informed about our latest stock, special online promotions and discounts!</li>
                </ul>
                <p>Go on, what are you waiting for? Make that account!</p>
            </div>
            <div>
                <h3 class="py-3">How do I place an order?</h3>
                <p>
                    Orders can be placed while navigating our website as a registered user or even as a guest user. On any product page,
                    select your color/size choices (if applicable), choose quantity and then press the “Add to Cart” button. This will open up your shopping cart
                    where you may choose to continue shopping, or head on to checkout. On the checkout page, you may add or confirm your personal and shipping information, review your order before selecting “Place order now”.
                </p>
            </div>
            <div>
                <h3 class="py-3">What kind of payment methods do you accept?</h3>
                <p>Currently, the following payment methods are accepted:</p>
                <p>
                    <strong>Cash on Delivery:</strong>This option is available for customers throughout Pakistan. Using this option,
                    you can pay cash to the delivery agent upon receipt of your order. Please ensure that you have the exact amount at hand since our delivery agents do not carry change/petty cash.
                </p>
            </div>
            <div>
                <h3 class="py-3">How long will it take for my order to be delivered?</h3>
                <p>
                    All orders will be delivered by our courier service providers within 3-5 working days in Pakistan. If your order has not been delivered in the specified time, please contact our Customer Care.
                </p>
            </div>
            <div>
                <h3 class="py-3">What if an incorrect/damaged item is delivered to me?</h3>
                <p>Full care is taken to ensure that each order reaches the correct recipient. However, in case such a mishap does occur, you can get in touch with our Customer Care and we will rectify the issue.</p>
            </div>
            <div>
                <h3 class="py-3">What if an incomplete order is delivered to me?</h3>
                <p>Full care is taken to ensure that only complete orders are shipped out. However, in case there are missing item(s) in the order, please get in touch with our Customer Care immediately and we will look into the matter.</p>
            </div>
            <div>
                <h3 class="py-3">What is the procedure for cancelling an order?</h3>
                <p>
                    Order cancellation is dependent on whether or not it has been shipped. Generally, all orders are shipped after 24 hours, so send your order cancellation request to <a href="gigglehelp1090@gmail.com">gigglehelp1090@gmail.com</a> within that time.
                    If the order has been shipped, however, you will be unable to cancel the request.
                    Instead, you may exchange/return the product in accordance with our Exchange/Return/Refunds policies.
                </p>
            </div>
            <div>
                <h3 class="py-3">How do I know if an item is in stock?</h3>
                <p>
                    Our stock is constantly updated. If, for an item, your desired color is not available in the drop-down menu of a product,
                    it means this color is out of stock. For queries and special requests concerning sizing and/or availability, please call or email our Customer Care.
                </p>
            </div>
            <div>
                <h3 class="py-3">I have a comment/suggestion regarding your product/service</h3>
                <p>We highly value any and all feedback from our customers and fans! Please don’t hesitate in contacting our Customer Care with your comments and suggestions at <a href="gigglehelp1090@gmail.com">gigglehelp1090@gmail.com</a>.</p>
            </div>

        </div>
    </div>
</div>