@{
    Layout = "_CustomLayout";
}
<title>Giggle Garments-About Us</title>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="fw-medium fs-5">ABOUT US</p>
            <div class="mt-4 ">
                <p>
                    Giggle Garments is a Pakistani brand dedicated to dressing little ones in comfort, style, and joy.
                    We understand the importance of high-quality clothing for children, and we strive to provide garments
                    that are not only adorable but also durable and practical for everyday wear.<br> Our story began with a passion for creating clothes that spark smiles and laughter. We believe that childhood is a precious time for exploration and imagination, and our clothing reflects that spirit.
                    We use soft, breathable fabrics and playful designs that allow children to move freely and express themselves.
                </p>
                <p>
                    At Giggle Garments, we are committed to:
                    <ul style="list-style-type: disc;" class="ms-3">
                        <li><b>Quality:</b> We source high-quality materials and employ skilled artisans to create garments that are built to last.</li>
                        <li><b>Affordability:</b> We believe that every child deserves to look and feel their best, regardless of budget.</li>
                        <li><b>Sustainability:</b> We are committed to responsible practices throughout our supply chain, minimizing environmental impact.</li>
                        <li><b>Community:</b>  We are proud to support the Pakistani garment industry and empower local artisans.</li>
                    </ul>
                    <br>
                    We invite you to explore our collection of clothing for boys, girls, and newborns. We are confident you will
                    find something special for your little ones to wear and love.
                </p>

            </div>
        </div>
    </div>
</div>