@{
    Layout = "_CustomLayout";
}
<title>Giggle Garments-EXCHANGE/RETURN POLICY</title>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="fw-medium fs-4">EXCHANGE/RETURN POLICY</p>
            <div class="mt-4">
                <p>In the rare case that you are not 100% satisfied with your online purchase, you can get Online Store Credit for the same amount (minus shipping costs) for future purchases, within 30 days of receiving your order.</p>
                <p><span class="fw-medium pe-2">What is Online Store Credit?</span>It means you can return your purchase and utilize the same amount for a later purchase.</p>
                <p><span class="fw-medium pe-2">How does this work?</span>Simply email us at <a href="gigglehelp1090@gmail.com">gigglehelp1090@gmail.com</a> and request an exchange, and we will guide you through the process. Don’t forget to mention your Order ID in the email.</p>
                <p><span class="fw-medium pe-2">Till when I can claim this?</span>Please make sure that you send in this request within 30 days of receiving your order. No requests will be entertained after 30 days.</p>
                <p><span class="fw-medium pe-2">How do I send the item back?</span>Once your request has been approved, you will simply courier it back to us. Don’t worry; we will share the details with you when you email.</p>
                <p><span class="fw-medium pe-2">What about Shipping Costs?</span>We apologize but we cannot refund any shipping costs, except in the following cases</p>
                <ul class="ms-4">
                    <li>If the item was damaged when received by the customer</li>
                    <li>If the wrong item was delivered</li>
                    <li>If promotional free shipping is being offered</li>
                </ul>
                <p>In all other cases, you will be responsible for bearing the cost of sending the item back to us.</p>
                <p><span class="fw-medium pe-2">What if I just want to cancel an order?</span>Orders can only be cancelled within 24 hours of placing the order by emailing us at <a href="gigglehelp1090@gmail.com">gigglehelp1090@gmail.com</a>. Please read our Customer Care Section for more details.</p>
                <p><span class="fw-semibold">Please Note:</span></p>
                <ul class="ms-4">
                    <li>Refund can only be claim within one month only.</li>
                    <li>Any items that have been worn, used, or altered will not be exchanged.</li>
                    <li>Tags and labels must be intact.</li>
                    <li>Summer stock will be exchanged only with summer items &amp; winter items only with winter stock.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
