@{
    Layout = "_CustomLayout";
}
<title>Giggle Garments-Privacy Policy</title>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="fw-medium fs-4">PRIVACY POLICY</p>
            <div class="mt-4">
                <p>
                    Giggle Garments takes the online privacy of its customers very seriously and will take all measures to protect your personal information.<br><br>Whether you register with us or use the site anonymously, the information
                    we collect centers around your name, address, contact number(s), email ID , etc. This information will only be used, at the minimum, for the following purposes:
                </p>
                <ul>
                    <li>To fill, process and ship your orders</li>
                    <li>Contacting you for customer service and support</li>
                    <li>Informing you of promotional offers</li>
                    <li>Improving your browsing experience of the Minnie Minors website</li>
                </ul>
                <p>No information will be revealed to any third-party entities for any purposes and your information will solely be used by Giggle Garments.</p>
                <p>
                    Please note that we do use cookies to keep track of the frequency of your visits to our website, the contents of your shopping cart, purchase history and to deliver specific content designed to give you a uniquely personalized shopping experience.
                    Most browsers generally accept cookies automatically, and you may change this setting if you wish to. You will still be able to access most of our website’s functionality, including the ability to make purchases.
                </p>
                <p>By browsing our website, you agree to abide by all our policies, which may be subject to change any time.</p>
            </div>
        </div>
    </div>
</div>

