<div class=" mt-5  mb-3 text-center">
    <img src="~/images/pucit.png" style="max-height:400px" />
</div>
<h1 align="center" style="color:#0468aa">DEPARTMENT OF COMPUTER SCIENCE</h1>
<table>
    <tr>
        <td>
            <h2 style="color:#0468aa">Chairman of Department:</h2>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align:center">
            <h3> Dr. Shahzad Sarwar</h3>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>* PhD Electrical Engineering and IT, Vienna University of Technology Austria, 2008</td>
    </tr>
    <tr>
        <td></td>
        <td>
            * MS Computer Science, LUMS Lahore, 2004
        </td>
    </tr>
    <tr>
        <td></td>
        <td>* B.Sc Civil Engineering, UET Taxila, 1998</td>
    </tr>
    <tr>
        <td></td>
        <td>* <b>Research / Teaching Interests:</b> Internet of Things (IoT), Machine-to-Machine (M2M) Communication, Data-centric Networking, and Software Defined Networks (SDNs)</td>
    </tr>
    <tr>
        <td></td>
        <td>
            * <b>Email:</b> Principal@pucit.edu.pk, S.sarwar@pucit.edu.pk, chairman.dcs@pucit.edu.pk, chairman.dcs@pu.edu.pk
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="color:#0468aa">Programs Offered:</h2>
        </td>

    </tr>
    <tr>
        <td>
        </td>
        <td>BS (Computer Science)</td>
    </tr>
    <tr>
        <td></td>
        <td>M.Phil CS</td>
    </tr>
    <tr>
        <td></td>
        <td>PhD</td>
    </tr>
    <tr>
        <td><h2 style="color:#0468aa">Last Year Merit:</h2></td>
    </tr>

    <tr>
        <td></td>
        <td>
            BS(CS) Morning (Old Campus)&nbsp;&emsp;&emsp;&emsp;97.80
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            BS(CS) Morning (New Campus)&emsp;&emsp;&emsp;98.07
        </td>
    </tr>
    <tr>
        <td></td>
        <td>M.phil CS&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;70.64</td>


</table>
