<div class=" mt-5  mb-3 text-center">
    <img src="~/images/pucit.png" style="max-height:400px" />
</div>

<h1 align="center" style="color:#0468aa">DEPARTMENT OF Information Technology</h1>

<table>
    <tr>
        <td>
            <h2 style="color:#0468aa">Chairman of Department:</h2>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align:center">
            <h3> Dr. Waqar ul Qounain</h3>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>*PhD Computer Science (Vrije University, Amsterdam, The Netherlands)</td>
    </tr>
    <tr>
        <td></td>
        <td>
            * M.Sc Computer Science (University of The Punjab, Pakistan)
        </td>
    </tr>
    <tr>
        <td></td>
        <td>* PGD Computer Science (University of The Punjab, Pakistan)</td>
    </tr>
    <tr>
        <td></td>
        <td>* <b>Research / Teaching Interests:</b> Computational Modelling, Artificial Intelligence, Data Mining and Machine Learning, Multi-Agent Systems</td>
    </tr>
    <tr>
        <td></td>
        <td>
            * <b>Email:</b>  swjaffry@pucit.edu.pk, chairman.dit@pucit.edu.pk, chairman.dit@pu.edu.pk
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="color:#0468aa">Programs Offered:</h2>
        </td>

    </tr>
    <tr>
        <td>
        </td>
        <td>BS (Information Technology)</td>
    </tr>

    <tr>
        <td><h2 style="color:#0468aa">Last Year Merit:</h2></td>
    </tr>

    <tr>
        <td></td>
        <td>
            BS(IT) Morning (Old Campus)&nbsp;&emsp;&emsp;&emsp;96.55
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            BS(IT) Morning (New Campus)&emsp;&emsp;&emsp;96.93
        </td>
    </tr>


</table>

