<div class=" mt-5  mb-3 text-center">
    <img src="~/images/pucit.png" style="max-height:400px" />
</div>
<h1 align="center" style="color:#0468aa">DEPARTMENT OF Software Engineering</h1>
<table>
    <tr>
        <td>
            <h2 style="color:#0468aa">Chairman of Department:</h2>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align:center">
            <h3> Dr. Muhammad Murtaza Yousaf</h3>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>* PhD Computer Science, University of Innsbruck, Austria, 2008</td>
    </tr>
    <tr>
        <td></td>
        <td>
            * M.Sc Computer Science, PU, 2001 (Gold Medal)
        </td>
    </tr>

    <tr>
        <td></td>
        <td>* <b>Research / Teaching Interests:</b> Computer Networks, Distributed and Parallel Systems, Data Structures, Automata Theory</td>
    </tr>
    <tr>
        <td></td>
        <td>
            * <b>Email:</b>  murtaza@pucit.edu.pk, chairman.dse@pucit.edu.pk, chairman.se@pu.edu.pk
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="color:#0468aa">Programs Offered:</h2>
        </td>

    </tr>
    <tr>
        <td>
        </td>
        <td>BS (Software Engineering)</td>
    </tr>

    <tr>
        <td><h2 style="color:#0468aa">Last Year Merit:</h2></td>
    </tr>

    <tr>
        <td></td>
        <td>
            BS(SE) Morning (Old Campus)&nbsp;&emsp;&emsp;&emsp;97.42
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            BS(SE) Morning (New Campus)&emsp;&emsp;&emsp;97.71
        </td>
    </tr>


</table>