@{
    Layout = "_CustomLayout";
}
<title>Giggle Garments-New Arrivals</title>
<div class="container mt-4">
    <div class="row justify-content-evenly gy-3">
        <div class="card" style="width: 18rem;">
            <img src="~/images/Boys/purple kurta.PNG" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title text-center">Embroidered Kurta (MSFBSK-802)</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Rs.3,990</h6>
                <p class="card-text fw-lighter">Size</p>
                <form class="card-text text-center">
                    <input type="radio" class="btn-check" name="options-base" id="(MSFBSK-802) 3/4-Y" autocomplete="off" checked>
                    <label class="btn" for="(MSFBSK-802) 3/4-Y">3/4-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSFBSK-802) 4/5-Y" autocomplete="off">
                    <label class="btn" for="(MSFBSK-802) 4/5-Y">4/5-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSFBSK-802) 5/6-Y" autocomplete="off">
                    <label class="btn" for="(MSFBSK-802) 5/6-Y">5/6-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSFBSK-802) 6/7-Y" autocomplete="off">
                    <label class="btn" for="(MSFBSK-802) 6/7-Y">6/7-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSFBSK-802) 7/8-Y" autocomplete="off">
                    <label class="btn" for="(MSFBSK-802) 7/8-Y">7/8-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSFBSK-802) 8/9-Y" autocomplete="off">
                    <label class="btn" for="(MSFBSK-802) 8/9-Y">8/9-Y</label>
                </form>
            </div>
            <a href="#" class="btn btn-dark">ADD TO BASKET</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/Newborn/dangree and bodysuit.PNG" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title text-center">Dungaree & Bodysuit (BD-168)</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Rs.4,190</h6>
                <p class="card-text fw-lighter">Size</p>
                <form class="card-text text-center">
                    <input type="radio" class="btn-check" name="options-base" id="(BD-168) 0-M" autocomplete="off" checked>
                    <label class="btn" for="(BD-168) 0-M">0-M</label>
                    <input type="radio" class="btn-check" name="options-base" id="(BD-168) 0/3-M" autocomplete="off">
                    <label class="btn" for="(BD-168) 0/3-M">0/3-M</label>
                    <input type="radio" class="btn-check" name="options-base" id="(BD-168) 3/6-M" autocomplete="off">
                    <label class="btn" for="(BD-168) 3/6-M">3/6-M</label>
                    <input type="radio" class="btn-check" name="options-base" id="(BD-168) 6/9-M" autocomplete="off">
                    <label class="btn" for="(BD-168) 6/9-M">6/9-M</label>
                    <input type="radio" class="btn-check" name="options-base" id="(BD-168) 9/12-M" autocomplete="off">
                    <label class="btn" for="(BD-168) 9/12-M">9/12-M</label>
                </form>
            </div>
            <a href="#" class="btn btn-dark">ADD TO BASKET</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/Boys/black kurta.png " class="card-img-top " alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title text-center">Basic Kurta With Trousers (MSKZB-013)</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Rs.3,590</h6>
                <p class="card-text fw-lighter">Size</p>
                <form class="card-text text-center">
                    <input type="radio" class="btn-check" name="options-base" id="(MSKZB-013) 3/4-Y" autocomplete="off" checked>
                    <label class="btn" for="(MSKZB-013) 3/4-Y">3/4-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSKZB-013) 4/5-Y" autocomplete="off">
                    <label class="btn" for="(MSKZB-013) 4/5-Y">4/5-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSKZB-013) 5/6-Y" autocomplete="off">
                    <label class="btn" for="(MSKZB-013) 5/6-Y">5/6-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSKZB-013) 6/7-Y" autocomplete="off">
                    <label class="btn" for="(MSKZB-013) 6/7-Y">6/7-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSKZB-013) 7/8-Y" autocomplete="off">
                    <label class="btn" for="(MSKZB-013) 7/8-Y">7/8-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSKZB-013) 8/9-Y" autocomplete="off">
                    <label class="btn" for="(MSKZB-013) 8/9-Y">8/9-Y</label>
                </form>
            </div>
            <a href="#" class="btn btn-dark">ADD TO BASKET</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/Girls/kameez gharara 1.PNG" class="card-img-top " alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title text-center">Embellished Kameez & Gharara (GPW-S1017)</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Rs.9,390</h6>
                <p class="card-text fw-lighter">Size</p>
                <form class="card-text text-center">
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-S1017) 3/4-Y" autocomplete="off" checked>
                    <label class="btn" for="(GPW-S1017) 3/4-Y">3/4-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-S1017) 4/5-Y" autocomplete="off">
                    <label class="btn" for="(GPW-S1017) 4/5-Y">4/5-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-S1017) 5/6-Y" autocomplete="off">
                    <label class="btn" for="(GPW-S1017) 5/6-Y">5/6-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-S1017) 6/7-Y" autocomplete="off">
                    <label class="btn" for="(GPW-S1017) 6/7-Y">6/7-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-S1017) 7/8-Y" autocomplete="off">
                    <label class="btn" for="(GPW-S1017) 7/8-Y">7/8-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-S1017) 8/9-Y" autocomplete="off">
                    <label class="btn" for="(GPW-S1017) 8/9-Y">8/9-Y</label>
                </form>
            </div>
            <a href="#" class="btn btn-dark">ADD TO BASKET</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/Girls/kameez trouser 3.PNG" class="card-img-top " alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title text-center">Embellished Kameez & Trousers (GPW-999)</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Rs.6,690</h6>
                <p class="card-text fw-lighter">Size</p>
                <form class="card-text text-center">
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-999) 3/4-Y" autocomplete="off" checked>
                    <label class="btn" for="(GPW-999) 3/4-Y">3/4-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-999) 4/5-Y" autocomplete="off">
                    <label class="btn" for="(GPW-999) 4/5-Y">4/5-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-999) 5/6-Y" autocomplete="off">
                    <label class="btn" for="(GPW-999) 5/6-Y">5/6-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-999) 6/7-Y" autocomplete="off">
                    <label class="btn" for="(GPW-999) 6/7-Y">6/7-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-999) 7/8-Y" autocomplete="off">
                    <label class="btn" for="(GPW-999) 7/8-Y">7/8-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(GPW-999) 8/9-Y" autocomplete="off">
                    <label class="btn" for="(GPW-999) 8/9-Y">8/9-Y</label>
                </form>
            </div>
            <a href="#" class="btn btn-dark">ADD TO BASKET</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/Newborn/party frock 1.PNG" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title text-center">Party Frock<br> (IPF-134)</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Rs.3,790</h6>
                <p class="card-text fw-lighter">Size</p>
                <form class="card-text text-center">
                    <input type="radio" class="btn-check" name="options-base" id="(IPF-134) 0-M" autocomplete="off" checked>
                    <label class="btn" for="(IPF-134) 0-M">0-M</label>
                    <input type="radio" class="btn-check" name="options-base" id="(IPF-134) 0/3-M" autocomplete="off">
                    <label class="btn" for="(IPF-134) 0/3-M">0/3-M</label>
                    <input type="radio" class="btn-check" name="options-base" id="(IPF-134) 3/6-M" autocomplete="off">
                    <label class="btn" for="(IPF-134) 3/6-M">3/6-M</label>
                    <input type="radio" class="btn-check" name="options-base" id="(IPF-134) 6/9-M" autocomplete="off">
                    <label class="btn" for="(IPF-134) 6/9-M">6/9-M</label>
                    <input type="radio" class="btn-check" name="options-base" id="(IPF-134) 9/12-M" autocomplete="off">
                    <label class="btn" for="(IPF-134) 9/12-M">9/12-M</label>
                </form>
            </div>
            <a href="#" class="btn btn-dark">ADD TO BASKET</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/Boys/graphic T-shirt-1.PNG" class="card-img-top " alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title text-center">Graphic T-Shirt<br> (MSBKTJ-44)</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Rs.1,490</h6>
                <p class="card-text fw-lighter">Size</p>
                <form class="card-text text-center">
                    <input type="radio" class="btn-check" name="options-base" id="(MSBKTJ-44) 3/4-Y" autocomplete="off" checked>
                    <label class="btn" for="(MSBKTJ-44) 3/4-Y">3/4-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSBKTJ-44) 4/5-Y" autocomplete="off">
                    <label class="btn" for="(MSBKTJ-44) 4/5-Y">4/5-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSBKTJ-44) 5/6-Y" autocomplete="off">
                    <label class="btn" for="(MSBKTJ-44) 5/6-Y">5/6-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSBKTJ-44) 6/7-Y" autocomplete="off">
                    <label class="btn" for="(MSBKTJ-44) 6/7-Y">6/7-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSBKTJ-44) 7/8-Y" autocomplete="off">
                    <label class="btn" for="(MSBKTJ-44) 7/8-Y">7/8-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(MSBKTJ-44) 8/9-Y" autocomplete="off">
                    <label class="btn" for="(MSBKTJ-44) 8/9-Y">8/9-Y</label>
                </form>
            </div>
            <a href="#" class="btn btn-dark">ADD TO BASKET</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/Girls/printed kurti gharara 1.PNG" class="card-img-top " alt="..." height="300px">
            <div class="card-body">
                <h5 class="card-title text-center">Digital Printed Embellished Kurti With Gharara (DGKS-119)</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Rs.5,790</h6>
                <p class="card-text fw-lighter">Size</p>
                <form class="card-text text-center">
                    <input type="radio" class="btn-check" name="options-base" id="(DGKS-119) 3/4-Y" autocomplete="off" checked>
                    <label class="btn" for="(DGKS-119) 3/4-Y">3/4-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(DGKS-119) 4/5-Y" autocomplete="off">
                    <label class="btn" for="(DGKS-119) 4/5-Y">4/5-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(DGKS-119) 5/6-Y" autocomplete="off">
                    <label class="btn" for="(DGKS-119) 5/6-Y">5/6-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(DGKS-119) 6/7-Y" autocomplete="off">
                    <label class="btn" for="(DGKS-119) 6/7-Y">6/7-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(DGKS-119) 7/8-Y" autocomplete="off">
                    <label class="btn" for="(DGKS-119) 7/8-Y">7/8-Y</label>
                    <input type="radio" class="btn-check" name="options-base" id="(DGKS-119) 8/9-Y" autocomplete="off">
                    <label class="btn" for="(DGKS-119) 8/9-Y">8/9-Y</label>
                </form>
            </div>
            <a href="#" class="btn btn-dark">ADD TO BASKET</a>
        </div>
    </div>
</div>
