@{
    Layout = "_CustomLayout";
}
<title>Giggle Garments</title>
<div id="carouselExampleSlidesOnly" class="carousel slide mt-1 mt-md-2 mt-lg-0" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/carousal1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/carousal2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/carousal3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/carousal4.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<div class="container-fluid mt-md-4 mt-3">
    <div class="row  gy-3">
        <div class="col-12 col-md-6 position-relative">
            <a href="/Category/Boys">
                <div class="position-absolute top-50 start-50 translate-middle-x ">
                    <p style="padding-right: 50px;" class="imgcontent fs-1 ">BOYS</p>
                </div>
                <img src="~/images/home-boy.jpg" alt="..." class="img-fluid">
            </a>
        </div>
        <div class="col-12 col-md-6 position-relative">
            <a href="/Category/Girls">
                <div class="position-absolute top-50 start-50">
                    <p class="imgcontent fs-1 ">GIRLS</p>
                </div>
                <img src="~/images/home-girl.jpg" alt="..." class="img-fluid">
            </a>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row mt-3 ">
        <div class="col-12 position-relative text-center ">
            <a href="/Category/NewIn">
                <div class="position-absolute top-100 start-50 translate-middle ">
                    <p class="imgcontent pb-5 fs-1 ">NEW ARRIVALS</p>
                </div>
                <img src="~/images/new arrival.jpg" alt="..." class="img-fluid" width="75%">
            </a>
        </div>
    </div>
</div>
