
<div class="container mt-5 ">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 text-center  ">
            <h3 fw-bold>Get in Touch</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem aperiam assumenda expedita ullam pariatur, fuga quis neque totam, impedit, possimus veniam nostrum placeat quibusdam quam minus maxime similique vero ea.</p>
        </div>
    </div>
    <form class="needs-validation" novalidate>
        <div class="row mb-3 gy-2">
            <div class="col-lg-6 col-12">
                <label for="Fname">Full  name</label>
                <input type="text" class="form-control" id="Fname" placeholder="full name" name="fname" required>


            </div>
            <div class="col-lg-6 col-12">
                <label for="email">Email</label>

                <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>


            </div>
        </div>
        <div class="row mb-3 gy-2">
            <div class="col-12">
                <label for="Address">Message..</label>
                <textarea class="form-control" placeholder="Enter a message" id="message" name="message" required></textarea>


            </div>
        </div>
        <div class="row mb-3 gy-2">
            <div class="col-12 text-center">

                <button type="submit" class="btn btn-primary ms-auto">
                    Submit
                </button>


            </div>
        </div>

    </form>
</div>