@model int

@if(@Model==3)
{
    <input type="radio" class="btn-check" name="Size" id="0/3-M" value="0/3-M" autocomplete="off" checked>
    <label class="btn fw-medium mb-2" for="0/3-M">0/3-M</label>
    <input type="radio" class="btn-check" name="Size" id="3/6-M" value="3/6-M" autocomplete="off">
    <label class="btn fw-medium mb-2" for="3/6-M">3/6-M</label>
    <input type="radio" class="btn-check" name="Size" id="6/9-M" value="6/9-M" autocomplete="off">
    <label class="btn fw-medium mb-2" for="6/9-M">6/9-M</label>
    <input type="radio" class="btn-check" name="Size" id="9/12-M" value="9/12-M" autocomplete="off">
    <label class="btn fw-medium mb-2" for="9/12-M" >9/12-M</label>
    <input type="radio" class="btn-check " name="Size" id="12/18-M" value="12/18-M" autocomplete="off">
    <label class="btn fw-medium mb-2" for="12/18-M">12/18-M</label>
    <input type="radio" class="btn-check" name="Size" id="18/24-M" value="18/24-M" autocomplete="off">
    <label class="btn fw-medium mb-2" for="18/24-M">18/24-M</label> 
}
else
{
    <input type="radio" class="btn-check" name="Size" id="24/36-M" value="24/36-M" autocomplete="off" checked>
    <label class="btn fw-medium mb-2" for="24/36-M">24/36-M</label>
    <input type="radio" class="btn-check" name="Size" id="3/4-Y" value="3/4-Y" autocomplete="off">
    <label class="btn fw-medium mb-2" for="3/4-Y">3/4-Y</label>
    <input type="radio" class="btn-check" name="Size" id="4/5-Y" value="4/5-Y" autocomplete="off">
    <label class="btn fw-medium mb-2" for="4/5-Y">4/5-Y</label>
    <input type="radio" class="btn-check" name="Size" id="5/6-Y" value="5/6-Y" autocomplete="off">
    <label class="btn fw-medium mb-2" for="5/6-Y">5/6-Y</label>
    <input type="radio" class="btn-check" name="Size" id="6/7-Y" value="6/7-Y" autocomplete="off">
    <label class="btn fw-medium mb-2" for="6/7-Y">6/7-Y</label>
    <input type="radio" class="btn-check" name="Size" id="7/8-Y" value="7/8-Y" autocomplete="off">
    <label class="btn fw-medium mb-2" for="7/8-Y">7/8-Y</label>
    <input type="radio" class="btn-check" name="Size" id="8/9-Y" value="8/9-Y" autocomplete="off">
    <label class="btn fw-medium mb-2" for="8/9-Y">8/9-Y</label>
    <input type="radio" class="btn-check" name="Size" id="9/10-Y" value="9/10-Y" autocomplete="off">
    <label class="btn fw-medium mb-2" for="9/10-Y">9/10-Y</label>
}
