@{
    Layout = "_CustomLayout";
}
<title>Giggle Garments</title>
<div id="carouselExampleSlidesOnly" class="carousel slide mt-1 mt-md-2 mt-lg-0" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/web_banner_2.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
            <img src="~/images/web_banner_1.jpg" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/web_banner_3.jpg" class="d-block w-100" alt="...">
        </div>

    </div>
</div>
<div class="container-fluid mt-md-4 mt-3">
    <div class="row  gy-3">
        <div class="col-12 col-md-6 position-relative">
            <a href="/Category/Boys">
                <img src="~/images/category_boys.jpg" alt="..." class="img-fluid  d-block w-100 ">
            </a>
        </div>
        <div class="col-12 col-md-6 position-relative">
            <a href="/Category/Girls">
                <img src="~/images/category_girls.jpg" alt="..." class="img-fluid  d-block w-100 ">
            </a>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row mt-3 ">
        <div class="col-12 position-relative text-center ">
            <a href="/Category/NewIn">
                <img src="~/images/category_new_arrivals.jpg" alt="..." class="img-fluid  d-block w-100 ">
            </a>
        </div>
    </div>
</div>
